<!DOCTYPE html>
<html ng-app="senseGui">
<head>
  <title>Sense_GUI</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="styles.css">

  <script src="assets/third-party/js/jquery-2.1.3.min.js"></script>
  <script src="assets/third-party/js/angular.js"></script>
  <script src="assets/baseController.js"></script>
  <script src="assets/configController.js"></script>
  <script src="main.js"></script>
  <script src="assets/bootstrap.min.js"></script>
</head>

<body>
  <div class="container" ng-controller="configController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="title">Sensors</div>
      </div>
      <div class="panel-body">
		<!-- Shows all curent sensors -->
		    <table style="width:100%" border="1px">
		      <tr>
		        <th>Edit</th>
		        <th>Name</th>
		        <th>Type</th>
		        <th>Port</th>
		        <th>Address</th>
		        <th>Sample Rate</th>
		      </tr>

        <tr ng-repeat="sensor in config.sensors">
          <td> <div class="btn btn-warning" ng-click="editSensor(sensor)"><span class="glyphicon glyphicon-edit"></span></div></td>
          <td>{{sensor.name}}</td>
          <td>{{sensor.type}}</td>
          <td>{{sensor.port}}</td>
          <td>{{sensor.address}}</td>
          <td>{{sensor.samples}} samples per {{sensor.interval}}</td>
          </tr>
        </table>
      </div>
    </div>


	<!--
	Sensor parameters
		txt		Name
		drop	Type (from configs)
		drop	Location
					If analog
						A{n}
					If Digital
						Port
							D{1/2}.{n}
				Poll freq
		| num		times per
		| drop		interval
	-->
	<!--  -->
	<!-- Form for add/edditing sensors -->
    <div>
      <form class="form-horizontal">
		<!-- Sensor name -->
        <div class="form-group">
          <label for="txtName" class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="txtName" ng-model="sensor.name">
          </div>
        </div>
		<!-- Sensor Type (populated from config files) -->
		<div class="form-group">
			<label for="cmbType" class="col-xs-2 control-label">Sensor Type</label>
			<div class="dropdown">
			  <div class="col-xs-10">
				<button class="btn btn-default dropdown-toggle" type="button" id="cmbType" data-toggle="dropdown" aria-expanded="true">
					Choose a sensor type...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="cmbType">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
					<li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
				</ul>
			</div>
		</div>

        </div>
		<!-- Sensor Location -->
		<div class="form-group">
			<label for="cmbLoc" class="col-xs-2 control-label">Sensor Location</label>
			<div class="dropdown">
				<div class="col-xs-10">
					<button class="btn btn-default dropdown-toggle" type="button" id="cmbLoc" data-toggle="dropdown" aria-expanded="true">
						Choose a location...
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="cmbLoc">
						<li ng-repeat="location in anPortOptions" role="presentation"><a role="menuitem" tabindex="-1" href="#"> {{location}} </a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Polling Frequency -->

        <div class="form-group">
        <label for="txtName" class="col-xs-2 control-label">Sampling Rate</label>
          <div class="col-xs-10">
            <input type="number" class="form-control" id="numSamples" ng-model="sensor.samples">
			      samples per
			<div class="dropdown" aria-describedby="intervals">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
				<li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			  </ul>
			</div>
		</div>

		</div>

      </form>
    </div>
    <div class="btn btn-sm btn-primary" ng-click='addSensor()'>Save</div>
  </div>

</body>
</html>