/* CSS file placeholder. */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.no-side-padding{
  padding-left:0px;
  padding-right:0px;
}

.table>tbody>tr>td{
	vertical-align:middle
}